:root {
	--background: #ffffff;
	--color2: #586BA4;
	--color1: #f77044;
	--color3: #1D201F;
    --orangeAccent: #f58059;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

#topBar {
    background-color: var(--color1);
    color: white;
    text-align: left; /* Changed from center to left */
    height: 100px;
    border: 2px solid var(--color1);
    border-radius: 14px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}   

#container {
    display: flex;
    flex: 1;
}

#menuBar {
    background-color: var(--color2);
    color: white;
    width: 8vw;
    padding: 10px;
    flex-shrink: 0;
    text-align: center;
    border: 2px solid var(--color2);
    border-radius: 14px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 82.7vh;
}



.menuEntry {
    font-size: 19px;
    padding: 10px;
    cursor: pointer;
    border: 2px solid var(--background);
    border-radius: 7px;
    background-color: var(--color2);
    color: white;
    margin: 5px;
    margin-bottom: 10px;
    text-align: center;
    transition: transform 0.1s ease, background-color 0.1s ease;
}

.menuEntry:hover {
    background-color: var(--color1);
    transform: scale(0.98);
}

.menuEntry:hover, #menuEntryTop:hover {
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}


.menuEntry:active, #menuEntryTop:active {
    transform: scale(0.95);
    transition: transform 0.07s ease;
}

.menuEntryActive{
    background-color: var(--color1);
}

#logo {
    height: 7vh;
    padding-left: 20px;
    margin: 5px;
    transition: 0.1s ease;
    top: 2.5vh;
    left: 0.4vw;
    position: absolute;
    
}

#logo::before {
    
}

#logo:hover {
    scale: 0.95;
    transition: 0.1s ease;
}

#title{
    position: absolute;
    font-size: 18px;
    top: 48px;
    left: 128px;
    padding: 5px;
}

#panel{
    position: absolute;
    font-size: 30px;
    margin: 33px;
    padding: 3px;
    top: -10px;
    left: 860px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.hidden {
    display: none;
}

#searchArea {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
    width: 86.4vw;
    padding : 15px;
    border: 4px solid var(--color2);
    border-radius: 14px;
    background-color: var(--color2);
}

#search{
    display: inline-block;
    width: 300px;
    height: 20px;
    border: 2px solid white;
    border-radius: 12px;
    padding: 5px;
    font-size: 16px;
    outline: none;
    background-color: var(--orangeAccent);
    color: white;
}

#search::placeholder{
    color: white;
    font-size: 16px;
}

#filterIcon {
    width: 30px;
    height: 30px;
    margin-left: 10px;

    
}

#filterIcon:hover {
    cursor: pointer;
    transform: scale(0.95);
    transition: 0.1s ease;
}

#sortIcon {
    width: 33px;
    height: 33px;
    margin-left: 10px;
    
}

#sortIcon:hover {
    cursor: pointer;
    transform: scale(0.95);
    transition: 0.1s ease;
}

#eventList {
    display: grid;
    width: 88.5vw;
    height: 74.9vh;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
    overflow-y: auto;
    overflow-x: hidden; 
    
}

#eventList::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

#eventList::-webkit-scrollbar-thumb {
    background-color: rgb(253, 172, 111); /* Scrollbar color */
    border-radius: 5px; /* Rounded corners */
}

#eventList::-webkit-scrollbar-thumb:hover {
    background-color: var(--accentDarker); /* Darker orange on hover */
}

#eventList::-webkit-scrollbar-button {
    display: none; /* Remove arrows from scrollbar */
}

.eventEntry {
    display: grid;
    width: 25vw;
    height: 170px;
    margin: 10px;
    border: 5px solid var(--color1);
    background-color: var(--color1);
    color: white;
    border-radius: 7px;
    padding: 8px;
}

.eventEntry:hover {
    background-color: var(--orangeAccent);
    border: 5px solid var(--orangeAccent);
    transform: scale(0.995);
    transition: 0.1s ease;
}

.eventTitle {
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
}

.eventPrice {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
    border: 2px solid white;
    border-radius: 12px;
    background-color: white;
    color: var(--color1);
    padding: 5px;
    padding-left: 14px;
    width: 3.5vw;
    left: 19vw;
    top: 0.5vh;
}

.eventDate {
    position: relative;
    font-size: 20px;
    margin-bottom: 5px;
    left: 40px;
}

.eventLocation {
    position: relative;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    left: 40px;
}

.timeIcon {
    width: 27px;
    height: 27px;
    position: relative; /* Changed from relative to absolute */
    top: -122px;
}

.venueIcon {
    width: 27px;
    height: 27px;
    position: relative; /* Changed from relative to absolute */
    top: -116px;
}

#eventMap {
    border: 5px solid var(--color2);
    border-radius: 14px;
    margin: 10px;
	height: 84.3vh;
	width: 88vw;
}

.backCon {
    background-color: var(--color1);
    border: 2px solid var(--color1);
    border-radius: 10px;
    margin: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 4vh;
    width: 6vw;
}

.backCon:hover {
    background-color: var(--orangeAccent);
    border: 2px solid var(--orangeAccent);
}

.backIcon {
    position: relative;
    width: 40px;
    top: -0.2vh;
}   

.backText {
    font-size: 20px;
    color: white;
    position: relative;
    top: -4.2vh;
    left: 2.5vw;
}

.eventPageEntry{
    width: 100%;
    display: flex; align-items: flex-start;
}

.eventPageInfos {
    flex: 1; margin-right: 20px;
    position: relative;
    background-color: var(--color2);
    border: 2px solid var(--color2);
    border-radius: 14px;
    padding: 10px;
    color: var(--background);
    width: 20vw;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 32vw;
    left: 55vw;
}

.eventPageTitle{
    font-size: 60px;
    font-weight: bold;
    margin: 5px;
    padding-bottom: 20px;;
}

.eventPageDateCon{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.timePageIcon{
    height: 5vh;
    position: relative; 
    
}

.eventPageDate{
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

.eventPagePlaceCon{
    display: flex;
    align-items: center;
 
}

.venuePageIcon{
    height: 5vh;
    position: relative; 

}

.eventPageLocation{
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    margin-bottom: 30px;
}

.eventPagePrice{
    font-size: 3vw;
    font-weight: bold;
    margin: 5px;
    border: 2px solid var(--color1);
    border-radius: 12px;
    background-color: var(--color1);
    color: var(--background);
    padding: 5px;
    padding-left: 14px;
    width: 3.5vw;
    left: 19vw;
    top: -0.5vh;
}


