body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#topBar {
    background-color: #f39a46;
    color: white;
    text-align: left; /* Changed from center to left */
    height: 100px;
   
}

#container {
    display: flex;
    flex: 1;
}

#menuBar {
    background-color: #f88323;
    color: white;
    width: 200px;
    padding: 10px;
    flex-shrink: 0;
}

#mainPanel {
    
    text-align: left;
    padding: 20px;
    background-color: #f4f4f4;
}

#menuEntry{
    font-size: 19px;
    padding: 15px;
    cursor: pointer;
    border-bottom: 2px solid #ffffff;
    
}

#logo {
    height: 100px;
    padding-left: 20px;
    margin: 5px;
}

#title{
    position: absolute;
    font-size: 18px;
    top: 33px;
    left: 110px;
    padding: 5px;

}